<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12 centralizar topo">
      <div class="card">
        <div class="card-body">
          <h3>Cadastro de Carro:</h3>
          <br />
          <mdb-form-control>
            <input
              mdbInput
              type="text"
              id="usuario"
              class="form-control"
              [(ngModel)]="carro.nome"
            />
            <label mdbLabel class="form-label" for="usuario">Nome</label>
          </mdb-form-control>
          <br />

          <div>
            @if (carro.marca == null) {
              <button
                type="button"
                class="btn btn-primary btn-rounded"
                mdbRipple
                (click)="buscarMarca()"
              >
                Buscar Marca
              </button>

            } @else {
              <span class="text-primary"> Marca: {{ carro.marca.nome }} </span>

              <button
                type="button"
                class="btn btn-warning btn-rounded"
                mdbRipple
                (click)="buscarMarca()"
              >
                Trocar Marca
              </button>
            }
          </div>

          <br /> 
          <button
            type="button"
            class="btn btn-primary btn-rounded"
            mdbRipple
            (click)="save()"
          >
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MODAAALLLL (janelinha p escolher marca) -->
 <ng-template #modalMarcas> 
  <!-- o ng-template é usado para definir um template de modal que pode ser exibido quando necessário.  -->
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="modalRef.close()"
  ></button>
  <div class="modal-body">

    <app-marcaslist [esconderBotoes]='true' (retorno)="retornoMarca($event)"></app-marcaslist> 
    <!-- o componente de listagem de marcas é renderizado dentro da modal, e emite um evento de retorno quando uma marca for selecionada. -->
     <!-- o esconderBotoes='true' é usado para esconder os botões de editar e deletar -->

  </div>

</div>
</ng-template>
